﻿
@{
    ViewData["Title"] = "Add";
}
<div>
    <h3>Добавление актёров в список</h3>
    <p>Для добавления заполните следующие поля:</p>
    <form method="post">
        <table>
            <tr>
                <td>Имя актёра:</td>
                <td><input type="text" name="Firstname" /> </td>
            </tr>
            <tr>
                <td>Фамилия актёра:</td>
                <td><input type="text" name="Lastname" /></td>
            </tr>
            <tr><td><input type="submit" value="Сохранить" /></td><td></td></tr>
        </table>
    </form>
</div>

