﻿@model CinemaMovie.Models.Actor
@{
    ViewData["Title"] = "Delete";
}
<div>
    <h3>"Удаленить актёра"</h3>
</div>
<div>
    <dl class="dl-horizontal">
        <dt>Имя актёра:</dt>
        <dd>
            @Html.DisplayFor(model => model.Firstname)
        </dd>
        <dt>Фамилия актёра:</dt>
        <dd>
            @Html.DisplayFor(model => model.Lastname)
        </dd>
    </dl>
    <div>
        <form asp-controller="Actor" asp-action="Delete" method="post">
            <div class="form-group">
                <input type="submit" class="btn btn-default" value="Удалить" />
            </div>
        </form>
    </div>
</div>

