﻿@model CinemaMovie.Models.Actor
@{
    ViewData["Title"] = "Edit";
}
<div>
    <h3>"Редактирование Имя и Фамилии актёра"</h3>
</div>
<form asp-action="EditActor" asp-controller="HomeActor" asp-route-id="@Model.Id">
    <div class="form-group">
        <label asp-for="Firstname" class="control-label">Имя актёра:</label>
        <input type="text" asp-for="Firstname" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Lastname" class="control-label">Фамилия актёра:</label>
        <input type="text" asp-for="Lastname" class="form-control" />
    </div>
    <div class="form-group">
        <input type="submit" value="Сохранить" class="btn btn-default" />
    </div>
</form>

