﻿@model IEnumerable<CinemaMovie.Models.Actor>
@{
    ViewData["Title"] = "Index";
}
    <div class="text-center">
        <h1 class="display-4">Actors Marvel</h1>
    </div>
<div class="col-lg-9">
    <ul>
        @foreach (var actor in ViewBag.actors)
        {
            <li>@actor.Firstname @actor.Lastname</li>
            <table>
                <tr>
                    <p><a asp-action="Edit" asp-controller="Actor" asp-route-id="@actor.Id">Изменить актера</a></p>
                    <p><a asp-action="Delete" asp-controller="Actor" asp-route-id="@actor.Id">Удалить актера</a></p>
                </tr>
            </table>
        }
    </ul>
</div>
<div>
    <table>
        <tr>
            <td><p><a href="/Actor/Add"><input type="submit" value="Добавить актера" /></a></p></td>
        </tr>
    </table>
</div>

