﻿
@{
    ViewData["Title"] = "Add";
}
    <div>
        <h3>Добавление фильма в список</h3>
        <p>Для добавления заполните следующие поля:</p>
        <form method="post">
            <input type="hidden" value="@ViewBag.MovieId" name="MovieId" />
            <table>
                <tr>
                    <td>Название:</td>
                    <td><input type="text" name="Name" /> </td>
                </tr>
                <tr>
                    <td>Жанр:</td>
                    <td><input type="text" name="Genre" /></td>
                </tr>
                <tr>
                    <td>Год выпуска:</td>
                    <td><input type="text" name="Year" /></td>
                </tr>
                <tr>
                    <td>Длительнось:</td>
                    <td><input type="number" name="Duration" /> min.</td>
                </tr>
                <tr><td><input type="submit" value="Сохранить" /> </td><td></td></tr>
            </table>
        </form>
    </div>

