﻿@model CinemaMovie.Models.Movie
@{
    ViewData["Title"] = "Delete";
}
    <div>
        <h3>"Удаленить фильм"</h3>
    </div>
    <div>
        <dl class="dl-horizontal">
            <dt>Название:</dt>
            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt>Жанр:</dt>
            <dd>
                @Html.DisplayFor(model => model.Genre)
            </dd>
            <dt>Год выпуска:</dt>
            <dd>
                @Html.DisplayFor(model => model.Year)
            </dd>
            <dt>Длительнось:</dt>
            <dd>
                @Html.DisplayFor(model => model.Duration)
            </dd>
        </dl>
        <div>
            <form asp-controller="Home" asp-action="Delete" method="post">
                <div class="form-group">
                    <input type="submit" class="btn btn-default" value="Удалить" />
                </div>
            </form>
        </div>
    </div>

