﻿@model CinemaMovie.Models.Movie
@{
    ViewData["Title"] = "Edit";
}
<div>
    <h3>"Редактирование фильма"</h3>
</div>
<form asp-action="edit" asp-controller="home" asp-route-id="@Model.Id">
    <div class="form-group">
        <label asp-for="Name" class="control-label">Название:</label>
        <input type="text" asp-for="Name" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Genre" class="control-label">Жанр:</label>
        <input type="text" asp-for="Genre" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Year" class="control-label">Год выпуска:</label>
        <input type="text" asp-for="Year" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Duration" class="control-label">Длительнось:</label>
        <input type="number" asp-for="Duration" class="form-control" />
    </div>
    <div class="form-group">
        <input type="submit" value="Сохранить" class="btn btn-default" />
    </div>
</form>