﻿@model IEnumerable<CinemaMovie.Models.Movie>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Movies Marvel</h1>
</div>
<div>
    <div class="row">

        @foreach (var movie in ViewBag.movies)
        {

        <div class="col-lg-4">
            <h6>Название фильма: @movie.Name</h6>
            <h6>Длительность: @movie.Duration min.</h6>
            <div class="row">
                <div class="col-lg-3">
                    <p><a asp-action="Index" asp-controller="Actor" asp-route-id="@movie.Id">Актеры</a></p>
                </div>
                
            </div>
            <table>
                <tr>
                    <p><a asp-action="Edit" asp-controller="Home" asp-route-id="@movie.Id">Изменить</a></p>
                    <p><a asp-action="Delete" asp-controller="Home" asp-route-id="@movie.Id">Удалить</a></p>
</tr>
            </table>
        </div>
        }
    </div>

</div>
<div>
    <table>
        <tr>
            <td><p><a href="/Home/Add"><input type="submit" value="Добавить фильм" /></a></p></td>
        </tr>
    </table>
</div>

